@import "../../CoreScss/variable";
@import "../../CoreScss/mixins";

/** Container Component **/
.container {
  background-color: $color-dark;
  display: flow-root;
  width: auto;
  padding-left: $padding-big;
  padding-right: $padding-big;
}
