@import "../../CoreScss/variable";
@import "../../CoreScss/mixins";

/** Container Component **/
.container {
  margin: $margin $margin-big;
  background-color: $color-dark;
  display: flow-root;
  @include breakpoint(mobile) {
    margin: $margin;
  }
}
