@import "../../CoreScss/fontstyle";
@import "../../CoreScss/variable";
@import "../../CoreScss/mixins";

/* ----- Country Link Button Element on Header ----- */
.country-button {
  color: $color-dark;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  cursor: pointer;
  padding: 6px;
}

.country-button:hover {
  padding: $padding-small $padding;
  color: $color-white;
  border: 1px solid $color-primary-light;
  background-color: $color-primary-light;
}

.country-container {
  width: 620px;
}

.country-link {
  margin-bottom: $margin;
}

.country-item {
  margin-right: $margin;
  margin-bottom: $margin;
  width: 140px;
  display: block;
}
